#heartbeat-popup{
    background: black;
    background: rgba(0,0,0,.8);
    position: fixed;
	z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
}
.heartbeat-wrapper{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.heartbeat-content{
    background: white;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 400px;
}
#heartbeat-popup h6{
    margin: 0 0 20px;
    font-size: 24px;
    line-height: 1em;
    padding: 20px 0;
}
#heartbeat-popup p{
    margin: 0 0 20px;
    font-size: 14px;
}
#heartbeat-popup button{
    display: inline-block;
    vertical-align: top;
    background: green;
    cursor: pointer;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
    outline: 0;
}